*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
:root {
    --primary-red: #F55353;
    --primary-blue: #1E2A78;
    --Grey-light-1: #faf9f9;
    --Grey-light-2: #f4f2f2;
    --Grey-light-3: #f0eeee;
    --Grey-light-4: #ccc;
    --Grey-dark-1: #333;
    --Grey-dark-2: #777;
    --Grey-dark-3: #999;
    --shadow-dark: 0 0.2rem 1rem rgba(164, 162, 162, 0.2);
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 1.4rem;
    box-shadow: var(--shadow-dark);
}
.header > div{
    display: flex;
    align-items: center;
}
.header > div > img{margin-right: 0.7rem;}
.header_right > img{
    width: 35px;
    height: 35px;
    margin-right: 0.7rem;
}
.dash{
    display: flex;
}
.dash_left{
    width: 20%;
    height: 100vh;
    background-color: var(--Grey-light-2);
}
.dash_left > ul{
    padding-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dash_left > ul > a{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
}
.dash_left > ul > .active{
    background-color: white;
    color: var(--primary-blue);
}
.dash_right{
    padding: 2rem 0 0 1rem;
    width: 80%;
}
.dash_right > span{
    display: block;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-blue);
}

.dash_right > form{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
.dash_right > form > .form_grp{
    margin: 1.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash_right > form > .form_grp > label{
    font-size: 1.1rem;
}
.dash_right > form > .form_grp > input{
    padding: 0.5rem;
    width: 70%;
    font-family: inherit;
    font-size: 1.1rem;
    border: none;
    box-shadow: var(--shadow-dark);
    background-color: var(--Grey-light-1);
}
.submitbtn{
    text-align: center;
    margin-top: 4rem;
}
.submitbtn > a{
    font-family: inherit;
    padding: 0.7rem 2.5rem;
    background-color: var(--primary-red);
    color: white;
    text-decoration: none;
    box-shadow: 0 5px 10px var(--Grey-light-4)
}