*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
:root {
    --primary-red: #F55353;
    --primary-blue: #1E2A78;
    --primary-light-blue: #f1f2ff;
    --Grey-light-1: #faf9f9;
    --Grey-light-2: #f4f2f2;
    --Grey-light-3: #f0eeee;
    --Grey-light-4: #ccc;
    --Grey-dark-1: #333;
    --Grey-dark-2: #777;
    --Grey-dark-3: #999;
    --shadow-dark: 0 0.2rem 1rem rgba(164, 162, 162, 0.2);
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 1.4rem;
    box-shadow: var(--shadow-dark);
}
.header > div{
    display: flex;
    align-items: center;
}
.header > div > img{margin-right: 0.7rem;}
.header_right > img{
    width: 35px;
    height: 35px;
    margin-right: 0.7rem;
}
.dash{
    display: flex;
}
.dash_left{
    width: 20%;
    height: 100vh;
    background-color: var(--Grey-light-2);
}
.dash_left > ul{
    padding-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dash_left > ul > a{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
}
.dash_left > ul > .active{
    background-color: white;
    color: var(--primary-blue);
}
.dash_right{
    padding: 2rem 0 0 1rem;
    width: 80%;
    background-color: var(--primary-light-blue);
}
.dash_right > span{
    display: block;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-blue);
    margin-bottom: 1.5rem;
}

.dash_right .acc_info{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    margin: 1rem 2rem;
    border-radius: 10px;
}
.dash_right .acc_info > div:last-child{
    text-align: center;
} 
.dash_right .acc_info p{
    font-size: 1.2rem;
    color: var(--primary-blue);
    font-weight: 600;
    margin: 0.4rem 0;
}
.dash_right .acc_info a{
    background-color: var(--primary-blue);
    color: white;
    padding: 1rem 1.2rem;
    display: block;
    width: max-content;
    margin-top: 2rem;
    border-radius: 6px;
}

.dash_right .acc_transfer{
    background-color: white;
    padding: 1.6rem;
    margin: 1rem 2rem;
    border-radius: 10px;
}

.acc_transfer .transaction > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.acc_transfer .transaction > div .table_header{
    color: var(--primary-blue);
    font-size: 1.2rem;
}